body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2e9dc;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
}

#main-container {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin-bottom: 20px;
    min-width: 300px;
    padding: 5px;
}

#visualisation {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.country:hover {
    stroke-width: 2px;
    stroke: black;
}

#tooltip-container {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    background-color: #f2e9dc;
}

#legend {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
}

.axis text,
.slider text {
    font-size: 14px;
}

#side-panel {
    border-style: none;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    max-width: 300px;
    margin-left: 20px;
    height: auto;
}

button.dataset-choice {
    display: block;
    width: 50%;
    margin: 5px;
    border-width: 0.5px;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff9f0;
}

button.unavailable {
    background-color: lightgray;
    color: #666666;
    border-color: lightgray;
    border-style: none;
}

button#production.clicked {
    background-color: #fdd0a2;
    border-color: orange;
}

button#export.clicked {
    background-color: #fdd0a2;
    border-color: orange;
}

button#consumption.clicked {
    background-color: #c6dbef;
    border-color: #6baed6;
}

button#import.clicked {
    background-color: #c6dbef;
    border-color: #6baed6;
}

#info-text {
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}