#visualisation {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.country:hover {
    stroke-width: 2px;
    stroke: black;
}

#tooltip-container {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    background-color: floralwhite;
}

#legend {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
}

.axis text,
.slider text {
    font-size: 14px;
}