/* svg {
    border-style: solid;
    border-color: black;
    background-color: #4b4b61;
} */

.country:hover {
    fill: lightsalmon;
    stroke: salmon;
}

#tooltip-container {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    background-color: floralwhite;
}